.div-specs {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.div-specs h4{
    color: #0D6EFD;
    font-size: 0.85rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.div-specs h1{
    margin: 0;
}

.specs-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.specs-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.spec-item {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    color: #A5A3A3;
    transition: color 0.3s ease;
    margin: 0;
}

.spec-item:hover {
    color: white;
}

.spec-active {
    color: white;
}

.spec-block {
    display: flex;
    flex-direction: column;
}

.spec-description {
    font-size: 0.9rem;
    color: #A5A3A3;
    max-width: 350px;
    text-align: justify;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.spec-description-visible {
    max-height: 100px;
    opacity: 1;
}

.specs-image {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}


.specs-image-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.specs-image img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .div-specs {
        padding: 1 1rem;
    }

    .specs-content {
        flex-direction: column;
        align-items: center;
    }

    .specs-image {
        width: 100%;
    }

    .specs-image img {
        width: 100%;
        height: 200px;
    }
}
