.navbar-elements{
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 700;
}

.navbar {
    background-color: black !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-link {
  color: white !important;
  opacity: 1 !important;
}

.nav-link:hover {
  color: #ccc !important;
}
